.blog-post-section {
    background-color: #fff;
}

.blog-post-section h1 {
    font-weight: 700;
    color: #333;
}

.blog-post-section .text-muted {
    font-style: italic;
}

.blog-post-section img {
    border-radius: 15px;
}
